@model IEnumerable<SharedModel.Models.SanPham>
@using SharedModel.Models;
@using CustomerSite.Controllers;
@using System.Net.Http;
@{
    ViewData["Title"] = "Home Page";
}
@{
    qlbanhangContext context = new qlbanhangContext();
    List<LoaiSp> loaiSp = new List<LoaiSp>();
    loaiSp = context.LoaiSps.ToList();
}
<div class="body2">
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="rad1" hidden />
            <input type="radio" name="radio-btn" id="rad2" hidden />
            <input type="radio" name="radio-btn" id="rad3" hidden />
            <input type="radio" name="radio-btn" id="rad4" hidden />
            <div class="slide first">
                <img src="~/images/poster/banner.jpg" width="800px" height="500px" />
            </div>
            <div class="slide">
                <img src="~/images/poster/fanta.jpg" width="800px" height="500px" />
            </div>
            <div class="slide">
                <img src="~/images/poster/kom.jpg" width="800px" height="500px" />
            </div>
            <div class="slide">
                <img src="~/Images/poster/milk.jpg" width="800px" height="500px" />
            </div>
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
        </div>
        <div class="navigation-manual">
            <label for="rad1" class="manual-btn"></label>
            <label for="rad2" class="manual-btn"></label>
            <label for="rad3" class="manual-btn"></label>
            <label for="rad4" class="manual-btn"></label>
        </div>
    </div>
</div>
<script type="text/javascript">
    var count = 1;
    setInterval(function () {
        document.getElementById('rad' + count).checked = true;
        count++;
        if (count > 4) {
            count = 1;
        }
    }, 5000);
</script>
<div class="row">
    <div class="col-4">
        <h5>Lọc Sản Phẩm</h5>
        <hr>
        <form>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle col-7" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Theo Loại Sản Phẩm
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var item in loaiSp)
                    {
                        <a class="dropdown-item" href="@Url.Action("Index","Home",new { maLoaiSp=item.MaLoaiSp})">@item.TenLoaiSp</a>
                    }
                </div>
            </div>
            <br/>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle col-7" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Theo Sản Phẩm
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="@Url.Action("Index","Home",new { maLoaiSp=context.LoaiSps.Count()+1})">Sản Phẩm Mới</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-8">
        <div id="listproduct" class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 ">
                    <div class="card" style="width: 18rem;">
                        <img src="@item.HinhSp" class="card-img-top" alt="..." width="100" height="200">
                        <div class="card-body">
                            <h5 class="card-title">@item.TenSp</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.Dongia</h6>
                            <h6>@item.NgayTao</h6>
                            <a class="btn btn-info btn-sm" href="@Url.Action("Details","Sanphams",new { id = item.MaSp })">Xem Chi Tiet</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>